.DS_Store

# ignore data directory
data/
.Rproj.user

# ignore gtf files
*.gtf*

# ignore logs & results files
logs/
results/

# ignore snakemake outputs
.snakemake/
.snakemake_timestamp

# metadata files for downstream analyses
sample-info/*-downstream-metadata.tsv

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# rendered html files
analysis_templates/*.html
analysis_templates/*.html.zip

# celltype references 
celltype_annotation/references*


