.DS_Store

# ignore data directory 
data/
.Rproj.user

# ignore gtf files 
*.gtf*

# ignore results files
results/

# ignore snakemake outputs 
.snakemake/

# metadata files for downstream analyses 
sample-info/*-downstream-metadata.tsv
